.code{
  display: flex;
  flex-wrap: wrap;
  background: black;
  border-radius: 0 0 10px 10px;
  padding: 10px 10px 10px 30px;

}

.btn{
  border: 1px solid gray;
  border-radius: 5px;
  margin: 6px;
  background: darkslateblue;
  color: white;
  text-align: center;
  padding: 32px;
  font-size: 20px;
  font-weight: bold;
  line-height: 0;
}

.btn:active{
  background: rebeccapurple;
}

.btn-1{
  font-size: 18px;
}

.monitor{
  border: 10px solid black;
  width: 316px;
  height: 120px;
  border-radius: 20px 20px 0 0;
  background: gray;
}

.noCorrect{
  background: red;
  padding: 50px;
  font-size: 30px;
  text-align: center;
}

.correct{
  background: greenyellow;
  padding: 50px;
  font-size: 30px;
  text-align: center;
}

.par{
  display: inline-block;
  font-size: 55px;
}

.container{
  display: block;
  width: 18%;
  margin: 0 auto;
}
