<div class="container">
  pin code - 0000
<div class="monitor">
  <div class="correct" *ngIf="answer === true" >Access Granted</div>
  <div class="noCorrect" *ngIf="answer === false" >Access Denied</div>
  <p class="par" *ngFor="let s of star">{{ s }}</p>
</div>
  <div class="code">
    <div class="btn" (click)="onCode('1')">1</div>
    <div class="btn" (click)="onCode('2')">2</div>
    <div class="btn" (click)="onCode('3')">3</div>
    <div class="btn" (click)="onCode('4')">4</div>
    <div class="btn" (click)="onCode('5')">5</div>
    <div class="btn" (click)="onCode('6')">6</div>
    <div class="btn" (click)="onCode('7')">7</div>
    <div class="btn" (click)="onCode('8')">8</div>
    <div class="btn" (click)="onCode('9')">9</div>
    <div class="btn btn-1" (click)="back()"><</div>
    <div class="btn" (click)="onCode('0')">0</div>
    <div class="btn btn-1" (click)="enter()">E</div>
  </div>
</div>

